.leaderships {
    float: left;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.leadership2,
.leaderships {
    display: flex;
    /* justify-content: space-between; */
}

.leadership2 {
    align-items: center;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    margin: 30px 0 0;
    flex-direction: column;
    width: 300px;
}

.leadershipcont {
    float: left;
    width: 55%;
}

.leadershipcont h2 {
    font-size: 24px;
    letter-spacing: 1px;
    margin: 0;
    text-transform: uppercase;
}

.leadershipcont ul {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    text-transform: uppercase;
    width: 100%;
}

.leadershipcont ul li {
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 20px;
    margin: 2px 0;
    width: 100%;
}

.leadershipcont ul li:first-child {
    font-weight: 500;
}

.leadership2 .btn-3 span {
    font-size: 13px;
    line-height: 30px;
    padding: 0 15px;
}

.leadershipcont ul li:last-child {
    border: none;
}

.leadershipimg {
    float: left;
    overflow: hidden;
    position: relative;
    width: auto;
}

.leadership2:first-child .leadershipcont,
.leadership2:nth-child(2) .leadershipcont {
    margin: 25px 0;
    width: 100%;
}

.leadership2:hover {
    -webkit-filter: none;
    filter: none;
}

.leadership2:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.leadershipimg img {
    -webkit-transform: scale(1);
    transform: scale(1);
    transition: all .5s ease;
    width: 100%;
}

@media (max-width:1680px) {
    body {
        font-size: 19px;
        line-height: 34px;
    }
}

@media (max-width:1600px) {
    body {
        font-size: 17px;
        line-height: 30px;
    }
}

@media (max-width:1440px) {
    .btn-3 span {
        font-size: 13px;
        letter-spacing: 1px;
    }
}

@media (max-width:1366px) {
    .leadershipcont h2 {
        font-size: 20px;
        line-height: 20px;
    }

    .leadershipcont ul li {
        font-size: 12px;
        letter-spacing: 1.5px;
        margin: 0;
    }

    .leadershipcont ul {
        margin-top: 5px;
    }

    .leadership2:first-child .leadershipcont,
    .leadership2:nth-child(2) .leadershipcont {
        margin: 15px 0 0;
    }
}

@media (max-width:1040px) {
    .btn-3 span {
        font-size: 12px;
    }
}

@media (max-width:768px) {
    :root {
        overflow-x: hidden;
        scroll-behavior: smooth;
    }
}

@media (max-width:630px) {
    .leadership2 {
        flex-wrap: wrap;
    }

    .leadership2:first-child,
    .leadership2:nth-child(2),
    .leadershipimg {
        width: 100%;
    }

    .leadershipcont {
        margin-top: 10px;
        width: 100%;
    }
}

@media (max-width:480px) {

    .leadership2:first-child .leadershipcont,
    .leadership2:nth-child(2) .leadershipcont {
        text-align: center;
    }
}

@media (max-width:375px) {
    .leadershipcont h2 {
        font-size: 18px;
        letter-spacing: .5px;
    }

    .leadershipcont ul li {
        font-size: 10px;
        letter-spacing: .5px;
        line-height: 16px;
    }

    .leadership2:first-child {
        margin-top: 0;
    }
}

@media (max-width:340px) {
    .leadershipcont h2 {
        font-size: 15px;
        line-height: 20px;
    }
}